services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack_main
    ports:
      - "4566:4566"  
    environment:
      - SERVICES=s3,sqs,ses
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=us-east-1
      - HOSTNAME_EXTERNAL=localstack_main
    volumes:
      - "./infra:/etc/localstack/init/ready.d" 
      - "/var/run/docker.sock:/var/run/docker.sock"
  
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s
    
  redis:
    image: redis:alpine
    container_name: redis 
    command: redis-server --requirepass ${REDIS_PASS}
    ports:
      - "6379:6379"
  
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PASSWORD=${REDIS_PASS}
    depends_on:
      - redis
      - api-service


  api-service:
    build: ./api-service
    container_name: api_service
    environment:
      - DB_HOST=postgres
      - DB_NAME=${DB_NAME}
      - AWS_HOST=localstack
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}
    depends_on:
      localstack:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: unless-stopped

  worker-service:
    build: ./worker-service
    container_name: worker_service
    environment:
      - DB_HOST=postgres
      - DB_NAME=${DB_NAME}
      - AWS_HOST=localstack
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_KEY}
    depends_on:
      localstack:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    depends_on:
      api-service:
        condition: service_started
      worker-service:
        condition: service_started

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_USER_PASS}
    depends_on:
      prometheus:
        condition: service_started

volumes:
  postgres_data:
  prometheus_data:
  grafana_data: