name: Deploy en Servidor de Casa (CD)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Create .env from secrets 
        run: |
          echo "DB_NAME=${{ secrets.DB_NAME }}" > .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASS=${{ secrets.DB_PASS }}" >> .env
          echo "AWS_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY }}" >> .env
          echo "AWS_SECRET_KEY=${{ secrets.AWS_SECRET_KEY }}" >> .env
          echo "REDIS_PASS=${{ secrets.REDIS_PASS }}" >> .env
          echo "GRAFANA_USER_PASS=${{ secrets.GRAFANA_USER_PASS }}" >> .env
      
      - name: Build Docker
        run: |
          docker compose down --remove-orphans
          docker compose build --no-cache 
          docker compose up -d 
          docker image prune -f 